#bd {
    font-size:15px;
    font-family:monospace, courier;
    background-color:#35155D;
    cursor: url('C:/Users/lubie/Documents/GitHub/Tymek9.github.io/Tymek9.github.io/assets/icons/4855-necoarc.png');
    color:white;
    transition: background-color 0.5s;
}
footer {
    overflow:hidden;
}

#main { 
    background-color:#512B81;
    border-radius:20px 0 20px 0;
    border:2px solid black;
    margin-top:20px;
    margin-bottom:20px;
}
i {
    color:white;
    transition: all 0.5s;
}

#kolor {
visibility: hidden;
}
#sans {
    font-size:35px;
    animation-name: lol;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite ;
    padding:10px;
}
#theme {
    font-size:13px;
    opacity:0.7;
}
#l1 , #l1 a{
    text-decoration:none;
    display:inline-block;
    padding:10px;
    margin-left:0px;
    margin-right:0px;
    color:white;
}
#sc1, #sc2, #sc3, #sc4, #sc5 {
    margin:20px;
    padding:10px;
    transition: all 0.3s; 
}
#l2 , #l2 a {
    text-decoration:none;
    margin-left:10px;
    margin-right:10px;
}


#n {
    background-color:#892CDC;
    padding:10px;
    border-radius:10px 0 0 0;
}
#navbar {
    list-style-type: none;
    background-color: #892CDC;
    margin-top:0px;
    margin-bottom:0px;
    display:block;
    overflow:hidden;
    border-radius:0 0 10px 0;
}
.l3 a, .l3 {
    text-decoration: none;
    transition: all 1s;
    display:block;
}
#hsc {
    margin:20px;
    padding:10px;
}
.divh {
    font-size:30px;
    transition: all 0.2s;  
}
.honorlist {
    list-style-type: none;
}
#accs {
    margin-right:-1px;
    margin-top:30px;
    background-color: #5e088c;
    border:2px solid black;
    width:2%;
    text-align: center;
    float:right;
    border-radius: 20px 0 0 0;
}
.acc {
    margin-bottom:10px;
    margin-top:10px;
    display:inline-block;
}


.divh:hover {
    color:#931be4;
}
#l1 a:hover {
    color:#000000;
}
#l2 a:hover {
    color:#931be4;
    
}
.l3:hover, .l3 a:hover {
    color:#931be4;
    cursor:pointer;
}
.acc:hover {
    cursor:pointer;

}
i:hover {
    color:#931be4;
}


@keyframes lol{
    0%{color:red}
    10%{color:rgb(255, 123, 0)}
    20%{color:rgb(251, 255, 0)}
    30%{color:rgb(140, 255, 0)}
    40%{color:rgb(0, 211, 120)}
    50%{color:rgb(0, 173, 216)}
    60%{color:rgb(0, 115, 255)}
    70%{color:rgb(140, 0, 255)}
    80%{color:rgb(194, 0, 204)}
    90%{color:rgb(255, 0, 140)}
    100%{color:rgb(255, 0, 0)}
}

