#bd {
    font-size:15px;
    font-family:monospace, courier;
    background-color:#35155D;
    cursor: url('C:/Users/lubie/Documents/GitHub/Tymek9.github.io/Tymek9.github.io/assets/icons/4855-necoarc.png');
    color:white;
    transition: background-color 0.5s;
    overflow:hidden;
}
footer {
    overflow:hidden;
}
.gowno{
    z-index:1;
    font-size:15px;
}
#main { 
    background-color:#512B81;
    border-radius:20px 0 20px 0;
    border:2px solid black;
    margin-top:20px;
    margin-bottom:20px;
}
i {
    color:white;
    transition: all 0.5s;
}

#kolor {
visibility: hidden;
}
#sans {
    font-size:35px;
    animation-name: lol;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite ;
    padding:10px;
}
#theme {
    font-size:13px;
    opacity:0.7;
}
#l1 , #l1 a{
    text-decoration:none;
    display:inline-block;
    padding:10px;
    margin-left:0px;
    margin-right:0px;
    color:white;
}
#sc1, #sc2, #sc3, #sc4, #sc5 {
    margin:20px;
    padding:10px;
    transition: all 0.3s; 
}
#sc2{
    text-align:center;
}
#l2 , #l2 a {
    text-decoration:none;
    margin-left:10px;
    margin-right:10px;
}


#n {
    background-color:#892CDC;
    padding:10px;
    border-radius:10px 0 0 0;
}
#navbar {
    list-style-type: none;
    background-color: #892CDC;
    margin-top:0px;
    margin-bottom:0px;
    display:block;
    overflow:hidden;
    border-radius:0 0 10px 0;
}
.l3 a, .l3 {
    text-decoration: none;
    transition: all 1s;
    display:block;
}
#hsc {
    margin:20px;
    padding:10px;
    display:flex;
    border-radius:20px;
    border:2px solid black;
}
.divh {
    font-size:30px;
    transition: all 0.2s;
}
.honorlist {
    list-style-type: none;
}
#accs {
    margin-right:-1px;
    margin-top:40px;
    background-color: #5e088c;
    border:2px solid black;
    width:2%;
    text-align: center;
    border-radius: 20px 0 0 0;
    float:right;
}
.acc {
    margin-bottom:10px;
    margin-top:10px;
    display:inline-block;
}


.divh:hover {
    color:#931be4;
}
#l1 a:hover {
    color:#000000;
}
#l2 a:hover {
    color:#931be4;
    
}
.l3:hover, .l3 a:hover {
    color:#931be4;
    cursor:pointer;
}
.acc:hover {
    cursor:pointer;

}
i:hover {
    color:#931be4;
}


@keyframes lol{
    0%{color:red}
    10%{color:rgb(255, 123, 0)}
    20%{color:rgb(251, 255, 0)}
    30%{color:rgb(140, 255, 0)}
    40%{color:rgb(0, 211, 120)}
    50%{color:rgb(0, 173, 216)}
    60%{color:rgb(0, 115, 255)}
    70%{color:rgb(140, 0, 255)}
    80%{color:rgb(194, 0, 204)}
    90%{color:rgb(255, 0, 140)}
    100%{color:rgb(255, 0, 0)}
}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');



.context {
    width: 100%;
    position:absolute;
    overflow:hidden;
    top:100%;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.circles{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position:absolute;
    display:block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    z-index:2;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 80px;
    height: 80px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 70px;
    height: 70px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 30px;
    height: 30px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
.circles li:nth-child(11){
    left: 1%;
    width: 180px;
    height: 180px;
    animation-delay: 0s;
    animation-duration: 10s;
}
.circles li:nth-child(12){
    left: 32%;
    width: 50px;
    height: 50px;
    animation-delay: 6s;
    animation-duration: 16s;
}
.circles li:nth-child(13){
    left: 58%;
    width: 80px;
    height: 80px;
    animation-delay: 2s;
    animation-duration: 15s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0.2;
        border-radius: 50%;
    }

}